name: Build Example
on:
 workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     - name: Checkout
       uses: actions/checkout@v4.2.2
     - name: NPM setup
       run: | 
        npm ci
        npm run build --if-present
        npm test
